.Banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Banner .Title {
    font-family: cursive;
    font-size: 60px;
}