.EncryptView {
    margin: 30px;
}
.title {
    font-size: 26px;
}

form {
    margin-top: 20px;
}
  
label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the input when it's focused */
input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}